
<div class="container-fluid p-0">
  <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let movie of bannerData; let i=index" [ngClass]="{active:i===0}">
        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}" class="d-block w-100" />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{movie.original_title}}</h2>
          <p>{{movie.overview}}</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="mt-3 mb-5 p-4">

  <!-- trending movies  -->
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <div class="rowposter mt-3 p-2">
      <ng-container *ngFor="let t of trendingData">
        <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..."
          [routerLink]="['/movie',t.id]">
      </ng-container>
    </div>
  </div>
</div>
